<div id="catalogoContainer" class="container">
        <h2>Catálogo productos</h2>
        <hr />
        <div class="row">
            <ng-container *ngFor="let item of itemsService.Items">
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card h-100">
                        <a routerLink="/producto/{{ item.cod }}"><img class="card-img-top" src="../../../assets/productos/{{ item.url }}.png" alt=""></a>
                        <div class="card-body">
                            <h4 class="card-title">
                                <a routerLink="/producto/{{ item.cod }}">{{ item.nombre }}</a>
                            </h4>
                            <p class="card-text">
                                {{item.titulo}}
                            </p>
                        </div>
                        <div class="card-footer">
                            <button type="button" class="btn btn-info" routerLink="/producto/{{ item.cod }}">Cotizar</button>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
