<!-- Page Content -->
<div id="catalogoContainer" class="container">

  <div class="row">
      <div class="col">
          <div class="card mt-4">
              <img class="card-img-top img-fluid" src="../../../assets/productos/{{ gotProducto.url }}.png" alt="">
              <div class="card-body">
                  <h3 class="card-title">{{ gotProducto.nombre }}</h3>
                  <h4>Alto: {{ gotProducto.alto }}</h4>
                  <h4>Ancho: {{ gotProducto.ancho }}</h4>
                  <p class="card-text">{{ gotProducto.descripcion }}</p>
              </div>
          </div>
      </div>
      <!-- /.col-lg-9 -->
  </div>
  <div class="row">
      <div class="col">
          <!-- /.card -->

          <div class="card card-outline-secondary my-4">
              <div class="card-header">
                  Cotizar producto
              </div>
              <div class="card-body">
                  <!-- Default form contact -->
                  <form class="p-5">
                      <div class="container">
                          <div class="row">
                              <div class="col">
                                  <!-- Name -->
                                  <input type="text" id="defaultContactFormName" class="form-control mb-4"
                                      placeholder="Nombre">
                              </div>
                          </div>
                          <div class="row">
                              <div class="col">
                                  <!-- Company -->
                                  <input type="text" id="defaultContactFormName" class="form-control mb-4"
                                      placeholder="Empresa">
                              </div>
                          </div>
                          <div class="row">
                              <div class="col">
                                  <!-- Email -->
                                  <input type="email" id="defaultContactFormEmail" class="form-control mb-4"
                                      placeholder="Correo">
                              </div>
                              <div class="col">
                                  <!-- Telefono -->
                                  <input type="text" id="defaultContactFormEmail" class="form-control mb-4"
                                      placeholder="Teléfono">
                              </div>
                          </div>
                          <div class="row">
                              <div class="col">
                                  <select class="browser-default custom-select mb-4">
                                      <option value="" disabled>Elige una opción</option>
                                      <option value="1" selected>Tipo papel</option>
                                      <option value="2">Kraft café</option>
                                      <option value="3">Ledger Blanco</option>
                                      <option value="4">Cartulina</option>
                                  </select>
                              </div>
                              <div class="col">
                                  <select class="browser-default custom-select mb-4">
                                      <option value="" disabled>Elige una opción</option>
                                      <option value="1" selected>Impresion</option>
                                      <option value="2">1 tinta</option>
                                      <option value="3">2 tintas</option>
                                      <option value="4">Full Color</option>
                                  </select>
                              </div>
                          </div>
                          <h3><small>Cantidad</small></h3>
                          <div class="row">
                              <div class="col-6">
                                  <div class="form-check form-check-inline">
                                      <input class="form-check-input" type="radio" name="inlineRadioOptions"
                                          id="inlineRadio1" value="option1">
                                      <label class="form-check-label" for="inlineRadio1">1000</label>
                                  </div>
                                  <div class="form-check form-check-inline">
                                      <input class="form-check-input" type="radio" name="inlineRadioOptions"
                                          id="inlineRadio2" value="option2">
                                      <label class="form-check-label" for="inlineRadio2">2000</label>
                                  </div>
                                  <div class="form-check form-check-inline">
                                      <input class="form-check-input" type="radio" name="inlineRadioOptions"
                                          id="inlineRadio3" value="option3">
                                      <label class="form-check-label" for="inlineRadio3">3000</label>
                                  </div>
                                  <div class="form-check form-check-inline">
                                      <input class="form-check-input" type="radio" name="inlineRadioOptions"
                                          id="inlineRadio3" value="option4">
                                      <label class="form-check-label" for="inlineRadio3">5000</label>
                                  </div>
                              </div>
                              <div class="col-6">
                                  <h3><small>5000+</small></h3>
                                  <input type="text" id="defaultContactFormEmail" class="form-control">
                              </div>
                          </div>
                          <div class="row">
                              <div class="col">
                                  <!-- Message -->
                                  <div class="form-group">
                                      <textarea class="form-control rounded-0" id="exampleFormControlTextarea2"
                                          rows="5" placeholder="Comentarios"></textarea>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </form>
                  <!-- Default form contact -->
                  <hr>
                  <a href="#" class="btn btn-success">Enviar Cotización</a>
              </div>
          </div>
          <!-- /.card -->
      </div>
  </div>

</div>
<!-- /.container -->