<!-- Page Content -->
    <!-- 1 -->
    <div align="center" *ngIf="this.cargando">
            <br>
            <br>
            <br>
            <h2>Cargando...</h2>
            <div class="loader loader--style1" title="0">
                <svg version="1.1" id="loader-1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                 width="40px" height="40px" viewBox="0 0 40 40" enable-background="new 0 0 40 40" xml:space="preserve">
                <path opacity="0.2" fill="#000" d="M20.201,5.169c-8.254,0-14.946,6.692-14.946,14.946c0,8.255,6.692,14.946,14.946,14.946
                  s14.946-6.691,14.946-14.946C35.146,11.861,28.455,5.169,20.201,5.169z M20.201,31.749c-6.425,0-11.634-5.208-11.634-11.634
                  c0-6.425,5.209-11.634,11.634-11.634c6.425,0,11.633,5.209,11.633,11.634C31.834,26.541,26.626,31.749,20.201,31.749z"/>
                <path fill="#000" d="M26.013,10.047l1.654-2.866c-2.198-1.272-4.743-2.012-7.466-2.012h0v3.312h0
                  C22.32,8.481,24.301,9.057,26.013,10.047z">
                  <animateTransform attributeType="xml"
                    attributeName="transform"
                    type="rotate"
                    from="0 20 20"
                    to="360 20 20"
                    dur="0.5s"
                    repeatCount="indefinite"/>
                  </path>
                </svg>
              </div>
        
              <p>Espere por favor</p>
        </div>





<div id="catalogoContainer" class="container" *ngIf="!this.cargando">
  <div class="row">
      <div class="col">
          <div class="card mt-4">
              <img class="card-img-top img-fluid" src="{{ gotProducto.url }}" alt="">
              <div class="card-body">
                  <h3 class="card-title">{{ gotProducto.nombre }}</h3>
                  <h4>Alto: {{ gotProducto.alto }}</h4>
                  <h4>Ancho: {{ gotProducto.ancho }}</h4>
                  <p class="card-text">{{ gotProducto.descripcion }}</p>
              </div>
          </div>
      </div>
      <!-- /.col-lg-9 -->
  </div>
  <div class="row">
      <div class="col">
          <!-- /.card -->

          <div class="card card-outline-secondary my-4">
              <div class="card-header">
                  Cotizar producto
              </div>
              <div class="card-body">
                  <!-- Default form contact -->
                  <form class="p-5">
                      <div class="container">
                          <div class="row">
                              <div class="col">
                                  <!-- Name -->
                                  <input type="text" id="defaultContactFormName" class="form-control mb-4"
                                      placeholder="Nombre">
                              </div>
                          </div>
                          <div class="row">
                              <div class="col">
                                  <!-- Company -->
                                  <input type="text" id="defaultContactFormName" class="form-control mb-4"
                                      placeholder="Empresa">
                              </div>
                          </div>
                          <div class="row">
                              <div class="col">
                                  <!-- Email -->
                                  <input type="email" id="defaultContactFormEmail" class="form-control mb-4"
                                      placeholder="Correo">
                              </div>
                              <div class="col">
                                  <!-- Telefono -->
                                  <input type="text" id="defaultContactFormEmail" class="form-control mb-4"
                                      placeholder="Teléfono">
                              </div>
                          </div>
                          <div class="row">
                              <div class="col">
                                  <select class="browser-default custom-select mb-4">
                                      <option value="" disabled>Elige una opción</option>
                                      <option value="1" selected>Tipo papel</option>
                                      <option value="2">Kraft café</option>
                                      <option value="3">Ledger Blanco</option>
                                      <option value="4">Cartulina</option>
                                  </select>
                              </div>
                              <div class="col">
                                  <select class="browser-default custom-select mb-4">
                                      <option value="" disabled>Elige una opción</option>
                                      <option value="1" selected>Impresion</option>
                                      <option value="2">1 tinta</option>
                                      <option value="3">2 tintas</option>
                                      <option value="4">Full Color</option>
                                  </select>
                              </div>
                          </div>
                          <h3><small>Cantidad</small></h3>
                          <div class="row">
                              <div class="col-6">
                                  <div class="form-check form-check-inline">
                                      <input class="form-check-input" type="radio" name="inlineRadioOptions"
                                          id="inlineRadio1" value="option1">
                                      <label class="form-check-label" for="inlineRadio1">1000</label>
                                  </div>
                                  <div class="form-check form-check-inline">
                                      <input class="form-check-input" type="radio" name="inlineRadioOptions"
                                          id="inlineRadio2" value="option2">
                                      <label class="form-check-label" for="inlineRadio2">2000</label>
                                  </div>
                                  <div class="form-check form-check-inline">
                                      <input class="form-check-input" type="radio" name="inlineRadioOptions"
                                          id="inlineRadio3" value="option3">
                                      <label class="form-check-label" for="inlineRadio3">3000</label>
                                  </div>
                                  <div class="form-check form-check-inline">
                                      <input class="form-check-input" type="radio" name="inlineRadioOptions"
                                          id="inlineRadio3" value="option4">
                                      <label class="form-check-label" for="inlineRadio3">5000</label>
                                  </div>
                              </div>
                          </div>
                          <br>
                          <div class="row">
                              <div class="col">
                                  <!-- Message -->
                                  <div class="form-group">
                                      <textarea class="form-control rounded-0" id="exampleFormControlTextarea2"
                                          rows="5" placeholder="Comentarios"></textarea>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </form>
                  <!-- Default form contact -->
                  <hr>
                  <a href="#" class="btn btn-success">Enviar Cotización</a>
              </div>
          </div>
          <!-- /.card -->
      </div>
  </div>

</div>
<!-- /.container -->